<h1>Contenido del Carrito</h1>
<a href="/">Inicio</a>
<br><br><br>

{{#if products.length}}
{{#each products}}
<div class="producto">
    <p>{{this.product.title}}</p>
    <p>Cantidad: {{quantity}}</p>
    <p>Precio por unidad: ${{this.product.price}}</p>
    <img src="{{this.product.images.[0]}}">
</div>
{{/each}}
<p>Total del carrito: ${{ total }}</p>
<form id="comprar">
    <button type="submit">Comprar</button>
</form>
{{else}}
<p>No tienes productos en tu carrito.</p>
{{/if}}

<style>
    .producto {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }
</style>
<script src="../js/carrito.js"></script>